Makefile
config.status
config.log

.hg/
build/

*~
*.exe
*.d
*.o
*.so
*.a
*.cmi
*.cmo
*.cmx
*.di
*.cma
*.cmxa
*.dylib
*.pyc

bu*.*
*.aux
*.bbl
*.blg
*.pdf
*.log
*.out
*.toc
*.cil.c
*.i
*.plist
autom4te.cache/*
ciltut-lib/Makefile.dummy
ciltut-lib/src/config.h
ciltut-lib/install_manifest.txt
ciltut-lib/src/*.tex
test/*.tex
cil_tutorial.*

tools/delcamlcomms
tools/pygCext/pygCext.egg-info
tools/pygCext/build
tools/pygCext/dist

docs/ciltut.mw

.hgignore
